html, body {
  margin: 0;
  padding-top: 10px;
  font-family: 'Montserrat', sans-serif;
}

#timerNumber {
	font-weight: bolder;
}

.card-header {
	font-size: 24px;
	font-weight: bolder;
}

.card-footer {
	font-size: 12px;
}

.break {
	color: #88e26a;
}

.hide {
	visibility: hidden;
}

.btn {
	font-weight: bold;
}